<div id="main">
    <div class="header">
        <h1>I am Ed Parry</h1>
        <p class="intro-line">Welcome! Take a look around.</p>
        <div class="head-item-container">
        <div class="head-item"><span class="triangle"></span><p>Software consultant</p></div>
        <div class="head-item"><span class="triangle"></span><p>Umbraco developer</p></div>
        <div class="head-item"><span class="triangle"></span><p>Amateur photographer</p></div>
        </div>
    </div>
    <div class="lead" style="background:url('http://edparry.com/media/1067/image.jpeg');">
                
    </div>
</div>
    <div id="introduction">
        <div class="container">
            <p>I'm an IT Consultant, certified Umbraco developer and part-time amateur photographer. I grew up in Staffordshire, studied in Aberystwyth and I now live and work in the beautiful Welsh capital, Cardiff.</p>
<p>Away from the keyboard, I love all things related to technology, current affairs, and sport. All made even better with good coffee brewed with a V60, AeroPress or good old espresso machine.</p>
<p>Since you're here, why not take a look at <a href="http://blog.edparry.com" title="Blog | Ed Parry">the blog</a> or my recently completed <a data-id="1127" href="/30-day-photo-challenge/" title="30 Day Photo Challenge">photography challenge</a>?</p>
        </div>
    </div>
    <div class="home-spacer"></div>
    <div id="home-links">
        <div class="link-box-container">
            <div class="link-box">
                <a href="http://blog.edparry.com">
                    <p>Read the blog</p>
                </a>
            </div>
            <div class="link-box">
                <a href="/30-day-photo-challenge">
                    <p>30-day photo challenge</p>
                </a>
            </div>  
        </div>
    </div>
    <div class="home-spacer"></div>

		
<div id="footer">
    <div class="container">

        <div class="links">
            <ul>
                            <li>
                                    <a href="http://twitter.com/edparry">Twitter</a>

                            </li>
                            <li>
                                    <a href="http://blog.edparry.com">Blog</a>

                            </li>
                            <li>
                                    <a href="https://500px.com/edparry">500px</a>

                            </li>
            </ul>
        </div>
        <div class="info">
            <p>Copyright © 2017.</p>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>