@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="home-spacer"></div>
<div id="main" class="photos">
	
	<div class="container">
		<h1>30 Day Photo Challenge</h1>
		<p>A collection of photographs taken as part of a 30-day photography challenge that ran from August 20th, through to September 18th 2016.</p>
		<p>I followed Emma Davies' challenge, <a href="http://emmadaviesphotography.com/make30photos/">Make 30 Photos</a>, using my Nikon D7000. Almost all of the images were shot with the Nikon 35mm prime.</p>

		<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>1</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>2</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>3</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>4</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>5</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>6</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>7</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>8</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>9</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>10</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>11</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>12</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>13</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>14</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>15</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>16</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>17</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>18</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>19</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>20</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>21</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>22</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>23</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>24</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>25</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>26</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>27</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>28</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>29</h2>
			</a>
		</div>
				<div class="box photo">
			<a href="#">
				<img src="https://edparry.com/media/1033/image.jpeg?width=1200" />
				<h2>30</h2>
			</a>
		</div>
	</div>
</div>
